<!DOCTYPE html>
<html>
    <head>
        <title>Ein erstes Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Hello Thymeleave</h1>
        
        <h2>Model-Info als Text</h2>
        <div th:text="${einText}" >...</div>
        
        <h2>Model-Info als Car-Objekt</h2>
        <div th:text="${car}">...</div>
        
        <p>
            Marke: <span th:text="${car.marke}">...</span>
        </p>
        <p>
            Model: <span th:text="${car.model}">...</span>
        </p>
        <p>
            MaxSpeed:
            <span th:text="${car.maxSpeed}">...</span>
            <span th:text="${car.maxSpeed > 200} ? 'raser' : 'schleicher'">...</span>
        </p>
        
        <h2>Model-Info als List&lt;Car&gt;</h2>
        <ul>
            <li th:each="car: ${cars}" th:text="${car}">...</li>
        </ul>
    </body>
</html>
